######
#Ignore everything
*
# But descent into directories
!*/
**.DS_Store
# But not these
!.gitignore
!.REAMDME.md
!/Docs
!/Transformation_Code/**
!/WI_Global_Taxonomy
!/Datasets/README.md
!/Datasets/Example_Dataset/**






# General Information and R related files
#.RDataTmp
#.Rproj.user
#.Rhistory
#.RData
#.Ruserdata
#/Datasets
#!/Datasets/README.md
#/Datasets/Example_Dataset/*
#!/Datasets/Example_Dataset/*
#
#!*/WI_Global_Taxonomy/WI_Global_Taxonomy.csv

