######
# General Information and R related files
.DS_Store
.RDataTmp
.Rproj.user
.Rhistory
.RData
.Ruserdata
/Datasets/*
#!/Datasets/
#!/Datasets/Example_Dataset/*
#
#!*/WI_Global_Taxonomy/WI_Global_Taxonomy.csv

